*{box-sizing:border-box;}

.contenedor {
    
    width: 80%;
    height: 676px;
    background-image: url('https://cdn-3.expansion.mx/dims4/default/c0f0051/2147483647/strip/true/crop/1100x619+0+0/resize/1200x675!/format/webp/quality/90/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2F89%2F3f%2F4fb2418b44e69e993cc3692c5e18%2F170307113858-london-oldest-restaurants-wiltons-interior-super-169.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

h3 {
    text-align: center;
    color:antiquewhite;
}

.forms_wrap-2 {
    box-sizing: border-box;
    justify-self: flex-start;
    max-width: 580px;
}
form{
 width:70%;
 padding:16px;
 border-radius:10px;
 
 margin:auto;
 background-color:#d7c29c;
}

form label{
 width:102px;
 font-weight:bold;
 display:inline-block;
}

form input[type="text"],
form input[type="email"]{
 max-width:50%;
 padding:3px 10px;
 border:1px solid #f6f6f6;
 border-radius:3px;
 background-color:#f6f6f6;
 margin:8px 0;
 display:inline-block;
}

form input[type="submit"]{
 width:68%;
 padding:8px 16px;
 margin-top:32px;
 margin-left: 15px;
 border:2px solid #000;
 border-radius:8px;
 display:block;
 color:#ac8d8d;
 font-weight: bold;
 background-color:#000;
} 

form input[type="submit"]:hover{
 cursor:pointer;
}

textarea{
 width:70%;
 height:100px;
 border:1px solid #f6f6f6;
 border-radius:3px;
 background-color:#f6f6f6;   
 margin:8px 0;
 /*resize: vertical | horizontal | none | both*/ resize:none;
 display:block;
}

@media screen and (max-width: 560px)  {
    .contenedor, .wrap {
        max-width: 240px;
        margin-left:10px;
        
    }
    input {
        max-width: 40%;
    }
    .contenedor {
        height:800px;
    }
}