*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.contenedor{
    box-sizing: border-box;
    display: flexbox;
    justify-self: flex-start;
    width: 80%;
    height: 666px;
    margin-left: 10px;

    background-image: url('img/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.formulario{
    box-sizing: border-box;
    display: flexbox;
    justify-self: flex-start;
    align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    height: 500px;
    width: 350px;
    margin-left: 30px;
    margin-right: 380px;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  black;
   
 
    

}
form{
    width: 100%;
    height: 100%;

}

.titulo{
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
}
h2{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
label{
   padding-top: 30px;
    margin-left: 30px;
    font-size: 15px;
}
input{
    margin-top: 15px;
    margin-left: 20px;
    margin-right:38px;
    width: 60%;
    height: 30px;
   color: rgb(3, 3, 3);
   font-weight: bold;
   padding-left: 10px;
   font-size: 10px;
    background: none;
    border: none;
    border-bottom: black 2px solid;
    outline: none;
}
button{
    margin-top: 50px;
    margin-left: 50px;
    height: 40px;
    width: 150px;
    background: white;
    border: none;
    border: black 1px solid;
    border-radius: 5px;
    color:black;
    font-weight: bold;
    
}

button:hover{
    background: rgb(2, 240, 69);
    font-weight: bold;
}

@media screen and (max-width: 460px)  {
.formulario {
    max-width: 240px;
    margin-left:10px;
    
}
h2 {
    font-size: 15px;
}
button {
    margin-left: 40px;
}
input {
    width: fit-content;
}
}
